.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    position: relative;
}

.collapse.navbar-collapse {
    right: 0%;
    position: absolute;
}
.navbar {
    min-height: 20px;
  }
  
.navbar-brand {
    padding: 0 15px;
    height: 20px;
    line-height: 10px;
  }
  
.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
@media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
}
.needs-validation {
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
    text-align: center;
}


/*
  .btn.btn-primary {
      margin-bottom: 20px;
      margin-top: 20px;
  }*/

.email {
    margin-top: 30px;
}

.poruka {
    margin-bottom: 20px;
}

.message {
    text-align: center;
    position: absolute;
    left: 40%;
    top: 40%;
}

#enter-id
{
    width: 250px;
}

.message2 {
    text-align: center;
    position: absolute;
    left: 40%;
    top: 45%;
}

.message3 {
    text-align: center;
    position: absolute;
    left: 40%;
    top: 50%;
}

.message4 {
    text-align: center;
    position: absolute;
    left: 40%;
    top: 55%;
}

#tabela
{
    position: relative;
    top: 60px;
    left: 480px;
}
.id {
    margin-top: 5px;
}

.btn {
    position: relative;
    left: 10%;
}

.tabela {
    margin-top: 250px;
}

textarea {
    width: 250px;
    height: 220px;
  }
  
  .info{
    margin-top: 30px;
  }
  
  .info-text{
    margin-top: 45px;
  }

  .poruka {
    margin-bottom: 20px;
}

.message {
    text-align: center;

}

.id {
    margin-top: 5px;
}

#btn
{
    background-color: #4CAF50; /* Green */
    color: white;
    
}

#table
{
    background-color: white;
}

