
.needs-validation {
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
    text-align: center;
}

.navbar {
    min-height: 20px;
  }
  
.navbar-brand {
    padding: 0 15px;
    height: 20px;
    line-height: 10px;
  }
  
.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
@media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
}
/*
  .btn.btn-primary {
      margin-bottom: 20px;
      margin-top: 20px;
  }*/

.email {
    margin-top: 30px;
}

.poruka {
    margin-bottom: 20px;
}

.id {
    margin-top: 5px;
}

h2,
p,
form {
    text-align: center;
}

#btn
{
    background-color: #4CAF50; /* Green */
}

.card-deck{
    margin-top: 50px;
}

.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    position: relative;
    width: 100%;
    height: 60px;
}

.collapse.navbar-collapse {
    right: 0%;
    position: absolute;
}

#label
{
    font-size: 36px;
}